h1 {
  color: fuchsia;
}
#nav {
    border: solid black 2px;
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
}

#mainleft {
    float: left;
    width: 48%;
}

#mainright {
    float: right;
    width: 48%;
}

.hvrbox {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.hvrbox > div {
    border: solid black 1px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav {
    display: flex; 
    justify-content: space-around; 
}

.hvrbox-text {
    display: block;
}

.wrapper {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    
}

.hvrbox{
    margin-top: 20px;
    padding-top: 80px;
    width: 200px;
    display: flex;
    
}
#image{
    text-align: center;

}
.hvrbox,
.hvrbox * {
    box-sizing: border-box;
}
.hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}
.hvrbox img {
    max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
    display: block;
}
.hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
    opacity: 1;
}
.hvrbox .hvrbox-text {
    text-align: center;
    font-size: 15px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
}
.hvrbox.active .hvrbox-text_mobile {
    display: block;
}

body{ 
  /* The image used */
  background-image: url("https://i.pinimg.com/originals/88/0f/7e/880f7ed2b69a6b433bc7f010206c3ad5.gif");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hvrbox-layer_bottom{
    color:white;
}