

#miamibeach {
        height: 500px;
        width: 50%;
      }

 html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

 #info{
 	width: 50%;
 }

 #container1{
 	display: flex;
 	flex-direction: row;
 
 }

 .pictures{
 	display: flex;
 	width: 400px;
 	height:350px;

 }
 
 #container2{
     display:flex;
     justify-content:space-around;
     margin:30px;
 }
 
 #backHome{
     margin:35px;
 }